body {
    background-image: url(../img/fon.jpg);
}

nav a,
footer a,
span {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(18, 18, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    color: rgb(200, 200, 200);
    transition-duration: 0.7s;
}

footer p {
    font-style: italic;
}

footer a {
    border: 2px solid black;
    padding: 5px;
    background-color: chocolate;
}

footer a:hover {
    background-color: rgb(221, 136, 75);
    transition-duration: 0.7s;
}

article p {
    font-size: 18px;
}

/*таблица заказов*/
#order {
    background-color: whitesmoke;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 33px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 18, 18);
}

img {
    border: 3px blue dotted;
}

table img {
    width: 100px;
}

table {
    background-color: whitesmoke;
}

hr {
    height: 2px;
    background-color: black;
}

nav {
    border: 2px black solid;
    padding: 10px;
    background-color: chocolate;
}

/*Ссылка на внешний ресурс*/
a[href^="https://"] {
    color: blue;
}

/*двух колоночный макет*/
#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /*  полупрозрачный контейнер */
    background: rgba(255, 255, 255, 0.5);
}

header {
    padding: 5px;
    /*диагональный градиент*/
    background: linear-gradient(45deg, #e45858, #3baee3);
}

#navLeft {
    background: linear-gradient(45deg, #e4585888, #3baee388);
    width: 250px;
    float: left;
}

main {
    margin-left: 275px;
    padding: 10px;
    background: #fff;
}

footer {
    /*эллиптический радиальный градиент*/
    background: radial-gradient(ellipse closest-side, #e4585888, #3baee388);
    color: #fff;
    padding: 5px;
    clear: left;
}

/*подсветка элементов форм*/
input:focus,
textarea:focus {
    border: 2px solid blue;
    background-color: lightblue;
}

/*оформление списка */
nav ul {
    list-style-image: url("../img/li.png");
}

#navLeft ul li:hover {
    transform: translateX(10px);
    list-style-image: none;
    transition-duration: 0.7s;
}

/*оформление таблицы */
#educationTable tr th {
    background-color: red;
    color: white;
}

.stroka td {
    color: cadetblue;
}

#educationTable {
    border: 1px cadetblue solid;
    max-width: 700px;
    width: 90%;
}

/*пропажа ячейки при наведение*/
#educationTable tr th:hover,
#educationTable tr td:hover {
    visibility: hidden;
}

/*блок меню flexbox*/
#navFlexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navFlexbox a {
    padding: 5px;
}

#navFlexbox a:hover {
    transform: translateY(-3px);
    transition-duration: 0.7s;
}

/* При прокручивании страницы кнопка должна оставаться в нижней части экрана*/
a[href^="#up"] {
    position: fixed;
    bottom: 10px;
    right: 10px;
    /*полупрозрачный фон*/
    opacity: 0.5;
}

a[href^="#up"]:hover {
    opacity: 1;
}

/*оформление таблицы сотрудников с помощью flexbox*/
/*.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

/*стиль фото сотрудников*/
.cell img {
    width: 100px;
    border: 2px bisque solid;
    border-radius: 15%;
    box-shadow: 5px 3px 4px 2px rgb(111, 111, 111);
}

/*grid*/
/*.unit {
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;}*/


.cell {
    display: grid;
    border: 2px rgba(242, 194, 138, 0.466) solid;
    padding: 10px;
    grid-template:
        "img" 110px
        "name" 30px
        "role" 20px
        / auto;
}

.img {
    grid-area: img;
}

.name {
    grid-area: name;
}

.role {
    grid-area: role;
}


/*оформление галереи*/
#galleryPreview {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frame {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.preview {
    margin: 0 15px 0 0;
}

.preview div {
    position: relative;
    width: 100px;
    bottom: 9px;
    left: 3px;
    opacity: 0;
    display: flex;
    justify-content: center
}

.preview div p {
    width: 101px;
    background-color: rgba(62, 62, 62, 0.5);
    color: white;
    position: absolute;
    bottom: -20px;
    border-radius: 8%;
}

.preview:hover div {
    opacity: 1;
    transition-duration: 0.7s;
}

.preview img {
    border: 3px black solid;
    border-radius: 8%;
}

/*выпадающее вертикальное меню*/

.navVap ul {
    list-style: none;
    border: 1px black solid;
    background: linear-gradient(45deg, #e45858, #3baee3);
    position: absolute;
    width: 140px;
    display: none;
}

.navVap ul li {
    position: relative;
    right: 20px;
}

.navVap:hover ul {
    display: block;
    transition-duration: 0.7s;
}

/*выпадающее горизантальное меню*/
.navVap1 ul,
.navVap1 {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.navVap1 ul {
    border: 1px black solid;
    background-color: rgba(216, 138, 83);
    position: absolute;
    width: 140px;
    display: none;
}

.navVap1 li ul li {
    position: relative;
}

.navVap1:hover ul {
    display: block;
    transition-duration: 0.7s;
}

.navVap1:hover {
    transform: translateY(-3px);
    transition-duration: 0.7s;
}

/*адаптивный макет*/
video {
    max-width: 700px;
    width: 100%;
}

.gif {
    max-width: 500px;
    width: 100%;
}

/*медиа запросы*/
@media screen and (max-width:1000px) {
    #container {
        max-width: 1000px;
        width: 100%;
    }

    main {
        max-width: 1000px;
        margin-left: 0;
    }

    #navLeft {
        display: none;
    }

    #navFlexbox {
        flex-wrap: wrap;
    }

    #navFlexbox a {
        margin: 10px;
    }

    #navFlexbox a {
        border: 1px black solid;
        background-color: rgb(238, 163, 110);
    }

    #navFlexbox ul li ul li a {
        font-size: 18px;
        flex-wrap: nowrap;
        margin: 5px;
        border: none;
        background: none;
    }

}

@media screen and (max-width:640px) {
    #navFlexbox {
        flex-direction: column;
    }
}