body{
    background-color: wheat;
}
nav a,footer a,span{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(18, 18, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

nav a:hover{
    color: rgb(200, 200, 200);
    transition-duration: 0.7s;
}
footer p{
    font-style: italic;
}
footer a{
    border: 2px solid black;
    padding: 5px;
    background-color: chocolate;
}
footer a:hover{
    background-color: rgb(221, 136, 75);
    transition-duration: 0.7s;
}
article p{
    font-size: 18px;
}
#order{
    background-color: whitesmoke;
}
h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 33px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 18, 18);
}
img{
    border: 3px blue dotted;
}
table img{
    width: 100px;
}
table{
    background-color: whitesmoke;
}
hr{
    height: 2px;
    background-color: black;
}
nav{
    border: 2px black solid;
    padding: 10px;
    background-color: chocolate;
}
/*Ссылка на внешний ресурс*/
a[href^="https://"]{
    color: blue;
}