body {
    background-color: wheat;
}

nav a,
footer a,
span {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(18, 18, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    color: rgb(200, 200, 200);
    transition-duration: 0.7s;
}

footer p {
    font-style: italic;
}

footer a {
    border: 2px solid black;
    padding: 5px;
    background-color: chocolate;
}

footer a:hover {
    background-color: rgb(221, 136, 75);
    transition-duration: 0.7s;
}

article p {
    font-size: 18px;
}

/*таблица заказов*/
#order {
    background-color: whitesmoke;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 33px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 18, 18);
}

img {
    border: 3px blue dotted;
}

table img {
    width: 100px;
}

table {
    background-color: whitesmoke;
}

hr {
    height: 2px;
    background-color: black;
}

nav {
    border: 2px black solid;
    padding: 10px;
    background-color: chocolate;
}

/*Ссылка на внешний ресурс*/
a[href^="https://"] {
    color: blue;
}

/*двух колоночный макет*/
#container {
    width: 1000px;
    margin: 0 auto;
    background: #f0f0f0;
}

header {
    padding: 5px;
    background: #8fa09b;
}

#navLeft {
    width: 250px;
    float: left;
}

main {
    margin-left: 275px;
    padding: 10px;
    background: #fff;
}

footer {
    background: #8fa09b;
    color: #fff;
    padding: 5px;
    clear: left;
}

/*подсветка элементов форм*/
input:focus,
textarea:focus {
    border: 2px solid blue;
    background-color: lightblue;
}

/*оформление списка */
nav ul {
    list-style-image: url("../img/li.png");
}

nav ul li:hover {
    transform: translateX(10px);
    list-style-image: none;
    transition-duration: 0.7s;
}

/*оформление таблицы */
#educationTable tr th {
    background-color: red;
    color: white;
}

.stroka td {
    color: cadetblue;
}

#educationTable {
    border: 1px cadetblue solid;
}

/*пропажа ячейки при наведение*/
#educationTable tr th:hover,
#educationTable tr td:hover {
    visibility: hidden;
}

/*блок меню flexbox*/
#navFlexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navFlexbox a {
    padding: 5px;
}

#navFlexbox a:hover {
    transform: translateY(-3px);
    transition-duration: 0.7s;
}

/* При прокручивании страницы кнопка должна оставаться в нижней части экрана*/
a[href^="#up"] {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/*оформление таблицы сотрудников с помощью flexbox*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

/*стиль фото сотрудников*/
.cell img {
    width: 80px;
    border: 2px bisque solid;
    border-radius: 15%;
    box-shadow: 5px 3px 4px 2px rgb(111, 111, 111);
}

/*оформление галереи*/
#galleryPreview {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.preview {
    padding: 0 15px 0 0;
}

.preview div {
    position: relative;
    width: 100px;
    bottom: 23px;
    left: 3px;
    color: rgba(255, 255, 255, 0.804);
    background-color: rgba(111, 111, 111, 50%);
}

.preview img {
    border: 3px black solid;
    border-radius: 8%;
}